* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  background-color: #57cbee; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

/*contenido centrado*/
.container1 {
  max-width: 1200px;
  margin: 0 auto; }

.header {
  background-image: linear-gradient(45deg, #5a5df0, #282abb);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.nav {
  display: flex;
  justify-content: space-between; }

.nav-link {
  color: #fff;
  text-decoration: none; }

.logo {
  font-size: 35px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px; }

.nav__menu {
  display: flex;
  margin-right: 40px; }

.nav__menu-item {
  font-size: 18px;
  margin: 0 15px;
  line-height: 80px; }

/*Cuerpo del index*/
.courses {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(45deg, #5a5df0, #282abb);
  color: #fff;
  display: inline-block;
  margin-left: 300px;
  width: 100%;
  height: 300px;
  position: relative;
  top: 20px;
  transition: all 0.5s;
  font-size: xx-large;
  border-radius: 15px;
  box-shadow: 0 25px 50px 12px #000; }
  .courses:hover {
    background-image: linear-gradient(45deg, #57cbee, #57cbee);
    color: #3f1a69; }
  .courses__title {
    position: absolute;
    top: 125px;
    left: 250px; }
