* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto Condensed', sans-serif;*/
  background-color: #57cbee; }

a {
  text-decoration: none; }

p {
  line-height: 1.5; }

ul {
  list-style-type: none; }

/*contenido centrado*/
.container1 {
  max-width: 1200px;
  margin: 0 auto; }

.header__nav {
  background-image: linear-gradient(45deg, #5a5df0, #282abb);
  color: #fff;
  padding: 25px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.nav__title {
  font-family: 'Lato', sans-serif;
  font-size: 50px; }
  .nav__title-list li {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    padding: 0 20px;
    margin-top: 25px; }
    .nav__title-list li a {
      color: #fff;
      font-size: 20px;
      transition: all 0.3s; }
      .nav__title-list li a:hover {
        transform: translateY(10px);
        font-weight: bold; }

/*Cuerpo del index*/
.courses {
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(45deg, #5a5df0, #282abb);
  color: #fff;
  display: inline-block;
  margin-left: 300px;
  width: 100%;
  height: 300px;
  position: relative;
  top: 20px;
  transition: all 0.5s;
  font-size: xx-large;
  border-radius: 15px;
  box-shadow: 0 25px 50px 12px #000; }
  .courses:hover {
    background-image: linear-gradient(45deg, #57cbee, #57cbee);
    color: #3f1a69; }
  .courses__title {
    position: absolute;
    top: 125px;
    left: 250px; }
