/*Cuerpo del index*/

.tarjeta {
    margin-top: 100px;
    background-image: linear-gradient(45deg, #5a5df0, #282abb);
    padding: 50px 20px;
    color: #e2e8fe;
    border-radius: 15px;
    box-shadow: 0 25px 50px 12px #000;
    transition: all 03.s;

    &:hover {
        background-image: linear-gradient(45deg, #e2e8fe, #900);
        color: #000;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        align-items: center;
    }

    &__grid-content h1 {
        color: #fff;
        font-size: 50px;
        margin-bottom: 20px;
    }

    
}




