/*Cuerpo del index*/

.courses {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(45deg, #5a5df0, #282abb);
    color: $blanco;
    display: inline-block;
    margin-left: 300px;
    width: 100%;
    height: 300px;
    position: relative;
    top: 20px;
    transition: all 0.5s;
    font-size: xx-large;
    border-radius: 15px;
    box-shadow: 0 25px 50px 12px #000;

    &:hover {
        background-image: linear-gradient(45deg, rgb(87, 203, 238), rgb(87, 203, 238));
        color: rgb(63, 26, 105);
    }

    &__title {
        position: absolute;
        top: 125px;
        left: 250px;
    }
    
}


