* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    /*font-family: 'Lato', sans-serif;*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
    background-color: rgb(87, 203, 238);
}


a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}



/*contenido centrado*/

.container1 {
    max-width: 1200px;
    margin: 0 auto;
    
}



/*Navegador*/



.header__nav {
    background-image: linear-gradient(45deg, #5a5df0, #282abb);
    color: #fff;
    padding: 25px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav__title {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
}


.nav__title-list li {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    padding: 0 20px;
    margin-top: 25px;
}


.nav__title-list li a {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s;
}

.nav__title-list li a:hover {
    transform: translateY(10px);
    font-weight: bold;
}



/*Cuerpo del index*/

.courses {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(45deg, #5a5df0, #282abb);
    color: #fff;
    display: inline-block;
    margin-left: 300px;
    width: 100%;
    height: 300px;
    position: relative;
    top: 20px;
    transition: all 0.5s;
    font-size: xx-large;
    border-radius: 15px;
    box-shadow: 0 25px 50px 12px #000
    
}

.courses:hover {
    background-image: linear-gradient(45deg, rgb(87, 203, 238), rgb(87, 203, 238));
    color: rgb(63, 26, 105);
}

.courses__title {
    position: absolute;
    top: 125px;
    left: 250px;
}





/*cuerpo Productos*/



.product {
    margin-top: 30px;
}

.product__grid {

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap:  50px;

}  


.product__title {
    margin-bottom: 20px;
    text-align: center;
    color: #fff;

}




 /*articulo*/

.card {
    background-color: #fff;
    padding: 20px;
    /*width: 400px;   debemos sacar la medida absoluta de las tajetas para que estas se puedan acomodar al contenido*/ 
    border-radius: 20px;
    box-shadow: 0 25px 50px 12px rgba(0,0,5); /*incertar sombra acepta 5 valores "sombra X", "sombra Y" , difuminacion, ancho de la sombra, color*/
}






/*link y nombre*/

.card__title{
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.card__link {
    background-color: #22c55e;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    text-align: center;

}



/*cuerpo Ubucacion*/



.maps {
    margin-top: 100px;
    background-image: linear-gradient(45deg, #5a5df0, #282abb);
    padding: 50px 20px;
    color: #e2e8fe;
    border-radius: 15px;
    box-shadow: 0 25px 50px 12px #000
}

.maps__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
}


.maps__grid-content h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 20px;
}

.maps__grid-content p {
    margin-bottom: 20px;
}


.maps__grid-content a {
    background-color: #0f172a;
    color: #e2e8fe;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s;

}

.maps__grid-content a:hover {
    background-color: #1e293b;

}




/*Media*/



@media (max-width: 1308px) {

    .nav__title-list {
        display: none;
    }
    
}


@media (max-width: 1100px) {

    .product__grid {

        display: grid;
    
        grid-template-columns: repeat(1, 1fr);
    
        gap:  50px;
    
    }  

    .maps__grid {
        grid-template-columns: 1fr;
    }
    
}